{
  "extends": "airbnb-base",
  "rules": {
    "max-classes-per-file": ["error", 2],
    "no-template-curly-in-string": "off",
    "no-underscore-dangle": ["error", { "allow": ["_subscribe"] }]
  }
}
