{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "max-classes-per-file": ["error", 2],
    "no-template-curly-in-string": "off",
    "no-underscore-dangle": ["error", { "allow": ["_subscribe"] }],
    "import/extensions": [
      "error",
      "always",
      { "ignorePackages": true, "pattern": { ".js": "never" } }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
