body {
  font-family: sans-serif;
}
#app {
  max-width: 600px;
  margin: auto;
}
#init-error {
  color: red;
  font-weight: bold;
  margin: 3rem;
}
.code,
.param {
  font-family: monospace;
  font-size: 1.3em;
  color: blue;
}
.method-block {
  margin: 50px 0;
}
.method-block > p {
  color: grey;
}
.hint {
  color: gray;
}
.input-container {
  display: flex;
  margin: 10px 0;
}
.input-container :first-child {
  flex: 1;
  margin-right: 1em;
}
.input-container :last-child {
  flex: 3;
}
button {
  width: 100%;
  margin: 10px 0;
}
.out {
  width: 100%;
  color: orange;
}
.big {
  height: 250px;
}
.success {
  color: green;
}
.error {
  color: red;
}
